<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Iniciar Sesión</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index">Banco Peirito</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Iniciar Sesión</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    
    <div class=" d-flex justify-content-center align-items-center vh-100 " style="background-color: hsl(0, 0%, 90%); ">
        <div class="bg-white p-5 rounded-5 text-secondary shadow" style="width: 27rem">
            <form action="crearCliente" method="POST">
                <h2 class="text-center" style="color: black;">Registrar cliente</h2><br>
                <div class="form-group">
                  <div class="row">
                      <div>
                          <b style="color: black;">Nombre</b><br>
                          <div class="input-group mt-1">
                              <div class="input-group-text bg-info">
                                  <i class="fa-regular fa-envelope" style="color: #ffffff;"></i>
                              </div>
                              <input type='text' class="form-control" name="nombre" id="nombre" placeholder="Ingrese el nombre" required>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <div class="row">
                      <div>
                          <b style="color: black;">Apellido</b><br>
                          <div class="input-group mt-1">
                              <div class="input-group-text bg-info">
                                  <i class="fa-regular fa-envelope" style="color: #ffffff;"></i>
                              </div>
                              <input type='text' class="form-control" name="apellido" id="apellido" placeholder="Ingrese el apellido" required>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <div class="row">
                      <div>
                          <b style="color: black;">Direccion</b><br>
                          <div class="input-group mt-1">
                              <div class="input-group-text bg-info">
                                  <i class="fa-regular fa-envelope" style="color: #ffffff;"></i>
                              </div>
                              <input type='text' class="form-control" name="direccion" id="direccion" placeholder="Ingrese la direccion" required>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <div class="row">
                      <div>
                          <b style="color: black;">Telefono</b><br>
                          <div class="input-group mt-1">
                              <div class="input-group-text bg-info">
                                  <i class="fa-regular fa-envelope" style="color: #ffffff;"></i>
                              </div>
                              <input type='text' class="form-control" name="telefono" id="telefono" placeholder="Ingrese el numero de telefono" required>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="form-group mt-3">
                    <div class="row">
                        <div>
                            <b style="color: black;">Correo</b><br>
                            <div class="input-group mt-1">
                                <div class="input-group-text bg-info">
                                    <i class="fa-regular fa-envelope" style="color: #ffffff;"></i>
                                </div>
                                <input type='email' class="form-control" name="correo" id="correo" placeholder="Ingrese su correo electronico" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <div class="row">
                        <div>
                            <b style="color: black;">Contraseña</b><br>
                            <div class="input-group mt-1">
                                <div class="input-group-text bg-info">
                                    <i class="fa-solid fa-unlock" style="color: #ffffff;"></i>
                                </div>   
                                <input type='password' class="form-control" name="password" id="password" placeholder="***********" required>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-info text-black w-100 fw-semibold shadow-sm mt-3" style="border-radius: 20px; width: 70%;">
                    Iniciar
                </button>
            </form>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/ca048bf1d7.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert !="undefined" ){ %>
        <script>
          Swal.fire({
            title: '<%= alertTitle%>',
            text: '<%= alertMessage%>',
            icon: '<%= alertIcon%>',
            showConfirmButton: <%= showConfirmButton%> ,
            timer: <%= timer %>
                }).then(() => {
              window.location = '/<%= ruta%>'
            })
        </script>
        <% } %>
  </body>
</html>